{% extends 'courses/base1.html' %}
{% block body %}

<h3 class="border-bottom">تواصل معنا </h3>


<div class="border p-5 mb-5">
   تهدف هذي المدونة لنشر المقالات التقنية    
  </div>


  
<!-- Page -->
<section class=" container contact-page spad pb-0 center ">
  <div class="container justify-content-center p-2 ">
    <div class="row ">
      <div class="col-lg-8">
        <div class="contact-form-warp ">
          <div class="section-title text-white text-left">
            <h4>تواصل معنا </h4>
          </div>
          <form class= "container contact-form">
            <input type="text" placeholder="الاسم">
            <input type="text" placeholder="الايميل">
            <input type="text" placeholder="الموضوع ">
            <textarea placeholder="الرسالة "></textarea>
            <button class="site-btn">ارسل !!</button>
          </form>
        </div>
      </div>
      
    </div>
  </div>
</section>

<!-- Page end -->



  <section class="banner-section spad border p-5 mb-5 ">
    
		<div class="container">
			<div class="section-title mb-5 pb-8">
				<h2>انضم ألينا الان !</h2>
<p>في هذه المنصه نهدف الى تطوير المهارات لدى الطلاب وتدريبهم للسوق العمل</p>
			</div>
			<div class="text-center pt-5 ">
        <a href="#" class="site-btn">سجل الان </a>
        
      </div>
      
		</div>
  </section>
  

{% endblock body %}